<body>

<div class="show">
 <div class="show-text">
 <p>
 <strong>Title:</strong>
 <%= @book.title %></p>
 </div>

 <div class="show-text">
 <p>
 <strong>Body:</strong>
 <%= @book.body %></p>
 </div>

 <div class="show-link">
 <%= link_to 'Edit', edit_book_path(@book.id) %>
 |
 <%= link_to 'Back', books_path %>
 </div>
</div>

</body>